.container
{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
}
.top_btn
{
    display: flex;
    gap: 32px;
}
.contact_form
{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.contact_form form
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form_control
{
    display: flex;
    flex-direction: column;
    width: 100%;;
}
.form_control input
{
    height: 40px;
    padding: 0 8px;
}
.form_control label
{
    position: relative;
    left: 20px;
    top: 13px;
    background-color: white;
    padding: 0 10px;
    width: fit-content;
}
.form_control textarea
{
    padding: 10px;
}